//node module
node_modules/

.env

echo "# StudyNotion" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Raj123Chaudhary/StudyNotion.git
git push -u origin main